.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.domainUrl {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
}
.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.time {
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
  margin-right: 15px;
  margin-left: 15px;
}
.title {
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
  margin-right: 15px;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.delete {
  justify-self: flex-end;
}
@media (max-width: 576px) {
  .listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
  .domainUrl {
    color: #64748b;
    font-family: 'Roboto';
    font-size: 13px;
  }
  .infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .time {
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 14px;
    color: #475569;
    margin-right: 10px;
    margin-left: 0px;
  }
  .title {
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 14px;
    color: #475569;
    margin-right: 8px;
  }
  .logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .delete {
    justify-self: flex-end;
  }
}
