.bg {
  height: 100vh;
  margin: 0px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bg-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ececec;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #3367d6;
  height: 3.5rem;
  padding: 8px;
}
.history-container {
  margin-top: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #ececec;
  justify-content: center;
}
.inputContainer {
  background-color: #2850a7;
  display: flex;
  width: 400px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
.inputTag {
  outline: none;
  border-style: none;
  border-left-style: solid;
  border-color: white;
  border-left-width: 1px;
  background-color: #2850a7;
  margin-left: 5px;
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  width: 90%;
}
ul {
  width: 88vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@media (max-width: 576px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3367d6;
    height: 3.5rem;
    padding: 8px;
  }
  .history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
    height: 100vh;
    justify-content: center;
  }
  .inputContainer {
    background-color: #2850a7;
    display: flex;
    width: 200px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
  }
  .inputTag {
    outline: none;
    border-style: none;
    border-left-style: solid;
    border-color: white;
    border-left-width: 1px;
    background-color: #2850a7;
    margin-left: 5px;
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
  }
}
.error {
  font-size: 24px;
  font-family: 'Roboto';
  padding-top: 40px;
}
button {
  writing-mode: horizontal-tb !important;

  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;
}
