/* Write your CSS here */
@media screen and (min-width: 768px) {
  .appointment-item {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 32px;
    min-width: 297px;
  }
  .star {
    width: 24px;
    height: 24px;
  }
  .date {
    font-size: 16px;
  }
}
.appointment-item {
  list-style-type: none;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}
.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.star-button {
  padding: 0;
  cursor: pointer;
}
.star-button {
  background: transparent;
  border: none;
  outline: none;
}

.star {
  background: transparent;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  align-self: center;
}
.date {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 12px;
  margin: 0;
}
